header.header {
    box-shadow: 0 4px 10px rgba(#000, 0.05);
}

.header__logo {
    img {
        max-width: 144px;
        width: 100%;
    }
}

.header__topsect {
    padding: 20px 0;
    border-bottom: 1px solid #EAEAEA;
}

.header__searchbox {
    display: flex;
    padding-right: 30px;
    border-radius: 38px;

    .headertogglebtns {
        width: 100%;
        max-width: 224px;
        flex: 0 0 224px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            border-radius: 30px;
            background: #F4F4F4;
            border: none;
            padding: 0;
            outline: none;
            min-height: 37px;
            max-width: 107px;
            width: 100%;
            font-weight: 500;
            color: #352C2B;

            &.active {
                color: #fff;
                background: #51801A;
            }
        }


        // .select2 {
        //     width: 100% !important;
        // }

        // .select2-container--default .select2-selection--single {
        //     border: none;
        //     background: #EEEEEE;
        //     border-radius: 38px 0 0 38px;
        //     height: 47px;
        // }

        // .select2-container .select2-selection--single .select2-selection__rendered {
        //     line-height: 47px;
        //     color: #352C2B;
        //     font-weight: 500;
        //     font-size: 16px;
        //     padding-left: 20px;
        //     padding-right: 27px;
        // }

        // .select2-container--default .select2-selection--single .select2-selection__placeholder {
        //     color: #352C2B;
        //     font-weight: 500;
        //     font-size: 16px;
        // }

        // .select2-container--default .select2-selection--single .select2-selection__arrow {
        //     b {
        //         display: none;
        //     }

        //     width: 16px;
        //     height: 16px;
        //     background: url('../img/home/select-arrow.svg') no-repeat center / 100%;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     right: 11px;
        // }
    }

    .header__search {
        width: 100%;
        max-width: calc(100% - 224px);
        flex: 0 0 calc(100% - 224px);
        position: relative;
        padding-left: 25px;

        input {
            width: 100%;
            background: #F6F6F6;
            border: none;
            height: 47px;
            border-radius: 38px;
            padding-left: 25px;
            padding-right: 35px;
            font-weight: 500;
            font-size: 15px;
            transition: 0.3s;
            border: 1px solid #F6F6F6;

            &:focus {
                border: 1px solid #51801A;
            }
        }

        button {
            position: absolute;
            right: 13px;
            width: 21px;
            height: 21px;
            outline: none;
            border: none;
            padding: 0;
            top: 50%;
            transform: translateY(-50%);

            img {
                max-width: 100%;
                vertical-align: top;
            }
        }
    }
}

.header__burger {
    display: none;
}

.select2-dropdown {
    border: none !important;
    background: #fff;
    margin-top: 3px;

    font-size: 14px;
    border-radius: 5px;
}

.select2-results {
    box-shadow: 0 4px 24px rgba(#000, 0.06);
    border-radius: 5px;
    overflow: hidden;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #51801A;
}

.select2-results__option--selectable {
    padding-left: 16px;
    font-weight: 500;
}

.header__acc {
    max-width: 145px;
    width: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;

    .header__acctop {
        display: flex;
        align-items: center;
    }

    .header__accimg {
        width: 100%;
        max-width: 38px;
        flex: 0 0 38px;
        border-radius: 50%;
        height: 38px;
        background: #F4F4F4;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
            width: 17px;
        }
    }

    .header__accdescr {
        width: 100%;
        max-width: calc(100% - 38px);
        flex: 0 0 calc(100% - 38px);
        padding-left: 15px;
        text-align: left;

        p {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 12px;
            color: #3B454D;
            line-height: 110%;
        }

        .title {
            margin: 0;
            font-size: 15px;
            font-weight: 600;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url('../img/home/acc-arrow.svg') no-repeat center / 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

.header__accdd {
    background: #fff;
    box-shadow: 0 4px 24px rgba(#000, 0.06);
    padding: 25px 20px;
    border-radius: 0 0 5px 5px;
    width: 230px;
    position: absolute;
    top: 68px;
    right: 0;
    text-align: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s;

    &.show {
        opacity: 1;
        z-index: 1;
        visibility: visible;
        transform: translateY(0);
    }

    a {
        color: rgb(20, 20, 20);
        line-height: 110%;
        font-weight: 500;
        font-size: 13px;
        display: inline-block;
        margin-bottom: 20px;
        transition: 0.3s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: #51801A;
        }
    }

    .login {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: #51801A;
        border: 1px solid #51801A;
        border-radius: 30px;
        height: 43px;
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;

        &:hover {
            background: rgb(107, 169, 36);
            border: 1px solid rgb(107, 169, 36);
            color: #fff;
        }
    }

    .signup {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: #fff;
        border: 1px solid #51801A;
        border-radius: 30px;
        height: 43px;
        color: #51801A;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;

        &:hover {
            background: rgb(107, 169, 36);
            border-color: rgb(107, 169, 36);
            color: #fff;
        }
    }

}

.header__cart .header__cartprice {
    padding-right: 10px;
}

.header__cart {
    display: inline-flex;
    align-items: center;
    max-width: 140px;
    width: 100%;
    margin-right: 0px;

    .header__cartimg {
        width: 100%;
        max-width: 38px;
        flex: 0 0 38px;
        height: 38px;
        border-radius: 50%;
        background: #F4F4F4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .hlalel {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            background: #51801A;
            border-radius: 50%;
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            line-height: 80%;
            top: 0;
            right: -6px;
            position: absolute;
        }

        img {
            max-width: 22px;
        }
    }

    .header__cartprice {
        width: 100%;
        max-width: calc(100% - 38px);
        flex: 0 0 calc(100% - 38px);
        text-align: left;
        padding-left: 21px;

        p {
            margin: 0;
            font-family: "Inter Tight", sans-serif;
            font-size: 18px;
            color: rgb(147, 147, 147);
            font-weight: 500;
        }
    }
}

.header__bottsect {
    border-bottom: 1px solid #EAEAEA;

    .container .col-xl-9 {
        &>ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            &>li {
                display: inline-block;
                vertical-align: middle;

                &>a {
                    display: inline-block;
                    padding: 15px 30px;
                    font-weight: 500;
                    line-height: 110%;
                    color: rgba(53, 44, 43);
                    text-decoration: none;
                    border-right: 1px solid #EAEAEA;
                    transition: 0.3s;

                    &:hover {
                        color: #51801A;
                    }
                }

                &:nth-child(1) {
                    a {
                        padding-left: 0;
                    }
                }
            }
        }
    }

}

.mobsearchopen {
    display: none;
}

.header__topsect {
    .col-xl-4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width:1199.8px) {

    .header__cart {
        margin-right: 15px;
    }

    .header__cart {
        max-width: 135px;
        margin-right: 15px;
    }

    .header__acc {
        max-width: 135px;
    }

    .header__searchbox {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media(max-width:991.8px) {

    .header__accdescr,
    .header__cartprice {
        display: none;
    }

    .header__acc,
    .header__cart {
        max-width: 44px;
        vertical-align: middle;
    }

    .header__acc .header__accimg,
    .header__cart .header__cartimg {
        max-width: 44px;
        flex: 0 0 44px;
        height: 44px;
    }

    .searchboxmob {
        display: none;
    }

    .mobsearchopen {
        display: inline-block;
        background: #F4F4F4;
        border: none;
        outline: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .searchboxmob {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 20px 40px;
        background: #fff;
        z-index: 2;
        top: 100px;
        border-bottom: 1px solid #EAEAEA;
        border-top: 1px solid #EAEAEA;
        top: 145px;
        box-shadow: 0 4px 6px #33333321;
    }



}

@media(max-width:575.8px) {
    // .header__bottsect ul {
    //     display: flex;
    //     flex-wrap: wrap;

    //     li {
    //         width: 100%;
    //         max-width: 30%;
    //         flex: 0 0 30%;

    //         &:nth-child(2) {
    //             max-width: 40%;
    //             flex: 0 0 40%;
    //         }

    //         &:last-child {
    //             a {
    //                 border: none;
    //             }
    //         }

    //         a {
    //             padding: 10px 10px;
    //             font-size: 14px;
    //             width: 100%;
    //             text-align: center;
    //         }


    //     }
    // }

    .searchboxmob {
        padding: 10px 0;
        top: 121px;
    }

    .header__searchbox .header__select .select2-container--default .select2-selection--single {
        height: 40px;
    }

    .header__searchbox .header__select .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .header__searchbox .header__search input {
        height: 40px;
    }

    .header__searchbox .header__select {
        max-width: 110px;
        flex: 0 0 110px;
    }

    // .header__searchbox .header__search {
    //     max-width: calc(100% - 110px);
    //     flex: 0 0 calc(100% - 110px);
    // }

    .header__searchbox .header__select .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-size: 14px;
    }

    .header__searchbox .header__select .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 6px;
    }

    .header__logo img {
        max-width: 100px;
    }


}

@media(max-width:360.8px) {
    .header__bottsect ul li a {
        padding: 10px 4px;
    }
}

@media(max-width:1199.8px) {
    .header__searchbox {
        padding-left: 0;
        padding-right: 0;
    }

    .header__searchbox .header__search {
        padding-left: 10px;
    }
}

@media(max-width:767.8px) {
    .searchboxmob {
        padding: 10px 15px;
    }
}

@media(max-width:575.8px) {


    .searchboxmob {
        padding: 10px;
    }

    .header__searchbox {
        flex-wrap: wrap;

        .header__search {
            max-width: calc(100%);
            flex: 0 0 calc(100%);
            padding-left: 0;
            margin-top: 10px;
        }

        .headertogglebtns {
            max-width: 100%;
            flex: 0 0 100%;

            button {
                max-width: calc(50% - 10px);
            }
        }
    }
}

/*  End Toggle Switch  */
.menubg {
    background: rgba(#000, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 2;
}

header.header {
    z-index: 15;
    position: relative;
    background: #fff;
}

.header__bottsect ul {
    position: relative;
}

.header__bottsect ul li {
    &.dd-item {

        a {
            position: relative;

            svg {
                margin-top: -1px;
                transition: 0.3s;

                path {
                    transition: 0.3s;
                }
            }

            &:hover {
                svg {
                    transform: rotate(-180deg);
                }

                path {
                    stroke: #51801A;
                }
            }
        }
    }

    .dd-list {
        position: absolute;
        padding: 45px;
        background: #fff;
        top: 100%;
        left: 0;
        width: 1044px;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.3s;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 25%;
            flex: 0 0 25%;

            li {
                text-transform: capitalize;
                margin-bottom: 15px;

                a {
                    font-size: 14px;
                    color: #564F4E;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.title {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 110%;
                    color: rgba(81, 128, 26, 1);
                }
            }
        }
    }

    &.dd-item:hover {
        .dd-list {
            opacity: 1;
            z-index: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.header__contus {
    transition: 0.3s;
    outline: none;
    color: #51801A;

    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        color: rgb(107, 169, 36);
    }
}

.header__cart .header__cartprice p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header__makemodelbtn {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(53, 44, 43);
    font-weight: 500;
    position: relative;

    img {
        width: 16px;
        margin-right: 8px;
        margin-top: -1px;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        margin-left: 10px;
        color: #51801A;
        font-weight: 600;
        cursor: pointer;
    }
}




@media(max-width:1499.8px) {
    .header__bottsect .container .col-xl-9>ul>li>a {
        padding: 15px 20px;
    }
}

@media(max-width:1440.8px) {
    .header__searchbox {
        padding-right: 10px;
    }
}

@media(max-width:1399.8px) {
    .header__bottsect .container .col-xl-9>ul>li>a {
        padding: 15px 30px;
    }

    .header__cart .header__cartprice {
        display: none;
    }

    .header__cart {
        max-width: 44px;
        vertical-align: middle;
    }

    .header__bottsect .container .col-xl-9>ul>li>a {
        padding: 15px 10px;
        font-size: 14px;
    }
}

@media(max-width:1199.8px) {
    .header__bottsect .container .col-xl-9>ul>li>a {
        padding: 15px 15px;
    }

    .header__bottsect ul li .dd-list {
        width: 900px;
    }

    .header__acc .header__accdescr {
        display: none;
    }

    .header__acc {
        max-width: 44px;
        vertical-align: middle;
    }

    .header__topsect .col-xl-4 {
        justify-content: flex-end;
    }

    .header__contus {
        margin-right: 15px;
    }

    .header__makemodelbtn {
        justify-content: flex-start;
    }
}

@media(max-width:991.8px) {

    .header__acc {
        margin-right: 15px;
    }

    .header__bottsect {
        display: none;
        // position: fixed;
        left: 0;
        background: #fff;
        width: 100%;
        height: calc(100vh - 96px);
        transition: 0.5s;
        transform: translateX(100%);

        &.open {
            transform: translateX(0);
            display: block;
        }
    }

    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #F4F4F4;
        vertical-align: middle;
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 24px;
        height: 16px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: rgb(81, 128, 26);
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: rgb(81, 128, 26);
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .header__bottsect .container .col-xl-9>ul {
        padding: 30px 0;
    }

    .header__bottsect .container .col-xl-9>ul>li {
        display: block;
        margin: 0;
        margin-bottom: 5px;
    }

    .header__bottsect .container .col-xl-9>ul>li>a {
        border-right: none;
        padding: 10px 0;
        font-weight: 600;

        svg {
            display: none;
        }
    }

    .header__bottsect ul li .dd-list {
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: translate(0);
        padding: 10px 0 0 0;
        width: 100%;
        position: relative;

        ul {
            margin-bottom: 20px;

            .title {
                font-weight: 500;
            }
        }
    }

    .header__bottsect ul li .dd-list ul li {
        margin-bottom: 10px;
    }

    .header__bottsect {
        overflow: auto;
    }

    .header__bottsect ul li .dd-list ul {
        max-width: 100%;
    }

    .searchboxmob {
        top: 240px;
    }

    .header__bottsect {
        padding-bottom: 60px;
    }

    .searchboxmob {
        top: 96px;
    }


}

@media(max-width:575.8px) {

    .mobsearchopen,
    .header__acc,
    .header__cart {
        width: 38px;
        height: 38px;
    }

    .header__acc .header__accimg,
    .header__cart .header__cartimg {
        max-width: 38px;
        flex: 0 0 38px;
        height: 38px;
    }

    .header__burger {
        width: 38px;
        height: 38px;
    }

    button.burger {
        width: 20px;
        height: 14px;
    }

    .header__cart,
    .header__acc {
        margin-right: 10px;
    }

    .header__bottsect .container .col-xl-9>ul>li>a {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .header__bottsect ul li .dd-list ul li.title {
        font-weight: 600;
    }

    .header__bottsect ul li .dd-list ul li {
        margin-bottom: 15px;
    }

    .header__bottsect ul li .dd-list ul {
        margin-bottom: 30px;
    }

    .header__bottsect {
        height: calc(100vh - 80px);
    }

    .header__contus {
        // display: none;
        width: 100%;
        height: 36px;
        font-size: 12px;
        margin: 0;
        margin-bottom: 5px;
    }

    .header__topsect .col-xl-4 {
        flex-wrap: wrap;
    }

    .searchboxmob {
        top: 100px;
    }

    .header__topsect {
        padding: 10px 0;
    }

}

.toplineinfo {
    background: #272727;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    p {
        margin: 0 20px;
        font-size: 13px;
        font-weight: 500;
        line-height: 110%;
        color: #A6A6A6;

        span {
            margin-right: 6px;
        }

        img {
            max-width: 35px;
            max-height: 35px;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media(max-width:767.8px) {

    .toplineinfo p img {
        margin-right: 8px;
    }

    .toplineinfo p {
        margin: 0 10px;
    }

}

@media(max-width:575.8px) {
    .toplineinfo {
        padding: 0 15px;
    }

    .toplineinfo p {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;

        span {
            margin-right: 10px;
            min-width: 70px;
            display: inline-block;
        }

        img {
            margin-right: 15px;
        }
    }
}



// header line
.header__toprow {
    background: #51801A;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            padding: 0 14px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 20px;
                background: #fff;
                position: absolute;
                right: -2.5px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    p {
        margin: 0;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
    }
}

.fliptext {
    height: 40px;
    max-width: 300px;
    position: relative;
    padding-left: 30px;

    .swiper-slide {
        height: 40px !important;

        p {
            height: 100%;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            padding-left: 0;
        }
    }

    .swiper-slide p {
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
    }

    .fliptext__icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
    }
}

.header__telnum {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding-left: 28px;
    position: relative;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
        color: #fff;
    }

    img {
        position: absolute;
        width: 20px;
        left: 0;
        top: -2px;
    }
}

.header__flag {
    max-height: 32px;
    max-width: 32px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header__toprow p {
    position: relative;
    padding-left: 40px;
}

@media(max-width:575.8px) {
    .hidemob {
        display: none;
    }

    .header__telnum span {
        display: none;
    }

    .header__telnum img {
        margin: 0;
        position: relative;
        width: 26px;
    }

    .fliptext .swiper-slide p {
        font-size: 12px;
        text-align: left;
    }
}