.maindescription {
    padding: 100px 0 125px;

    h1 {
        font-size: 50px;
        margin-bottom: 40px;
        font-weight: 700;
        color: rgba(53, 44, 43, 1);
        text-transform: uppercase;
    }

    p {
        margin-bottom: 30px;
        color: #606060;
        font-size: 17px;
        line-height: 140%;
        font-weight: 500;
    }

    .btnsgr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            max-width: calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
            background: rgba(81, 128, 26, 1);
            border-radius: 30px;
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            height: 60px;
        }
    }

    .maindescription__info {
        max-width: 448px;
    }
}

.brandssection {
    background: rgba(244, 244, 244, 1);
    padding: 95px 0 75px;

    .row {
        margin-left: -8px;
        margin-right: -8px;

        .col-xl-2 {
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 20px;
        }
    }
}

.brandbox {
    background: #fff;
    border: 1px solid #C9C9C9;
    border-radius: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 118px;
    width: 100%;
    transition: 0.3s;

    img {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 16px);
    }
}

.maindescription .btnsgr a {
    transition: 0.3s;

    &:hover {
        background: rgb(107 169 36);
    }
}

.brandbox {

    img {
        transition: .3s;
    }

    &:hover {
        // background: rgb(81, 128, 26);
        border: 1px solid rgba(81, 128, 26, 1);
        box-shadow: 0 4px 13px rgba(81, 128, 26, 0.25);

        img {
            // filter: drop-shadow(2px 4px 6px #fff);
        }
    }
}

.collagewrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        width: 432px;
        height: 265px;
        background: rgba(81, 128, 26, 1);
        border-radius: 10px;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .collage-item {
        margin-bottom: 34px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(#000, 0.13);
        position: relative;
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

        &:last-of-type(2) {
            margin-bottom: 0;
        }

        &:nth-child(1) {
            height: 194px;
            max-width: 59%;
            flex: 0 0 59%;
        }

        &:nth-child(2) {
            height: 194px;
            max-width: 32%;
            flex: 0 0 32%;
        }

        &:nth-child(3) {
            height: 286px;
            max-width: 32%;
            flex: 0 0 32%;
        }

        &:nth-child(4) {
            height: 286px;
            max-width: 59%;
            flex: 0 0 59%;
        }
    }
}

@media(max-width:1599.8px) {

    .maindescription h1 {
        font-size: 45px;
    }

    .maindescription p {
        font-size: 16px;
    }

    .maindescription .btnsgr a {
        font-size: 16px;
        height: 54px;
    }

    .maindescription {
        padding: 70px 0 60px;
    }

    .brandssection {
        padding: 70px 0;
    }

    .collagewrap .collage-item:nth-child(3),
    .collagewrap .collage-item:nth-child(4) {
        height: 250px;
    }

    .collagewrap .collage-item {
        margin-bottom: 20px;
    }

    .collagewrap .collage-item:nth-child(1),
    .collagewrap .collage-item:nth-child(4) {
        max-width: calc(62% - 10px);
        flex: 0 0 calc(62% - 10px);
    }

    .collagewrap .collage-item:nth-child(2),
    .collagewrap .collage-item:nth-child(3) {
        max-width: calc(38% - 10px);
        flex: 0 0 calc(38% - 10px);
    }


}

@media(max-width:1199.8px) {
    .maindescription h1 {
        font-size: 36px;
    }

    .maindescription p {
        margin-bottom: 20px;
    }

    .maindescription .btnsgr a {
        height: 46px;
    }

    .brandbox {
        height: 100px;
    }

    .collagewrap:after {
        width: 300px;
        height: 180px;
    }

    .collagewrap .collage-item:nth-child(1),
    .collagewrap .collage-item:nth-child(2) {
       height: 160px;
    }

    .collagewrap .collage-item:nth-child(3),
    .collagewrap .collage-item:nth-child(4) {
       height: 220px;
    }

}

@media(max-width:991.8px) {
    .maindescription h1 {
        margin-bottom: 20px;
    }

    .maindescription p {
        margin-bottom: 30px;
    }

    .maindescription .btnsgr {
        max-width: 400px;
    }

    .collagewrap {
        margin-top: 40px;
    }
}

@media(max-width:575.8px) {
    .maindescription h1 {
        font-size: 28px;
    }

    .maindescription,
    .brandssection {
        padding: 50px 0;
    }

    .brandbox {
        height: 80px;

        img {
            max-width: calc(100% - 30px);
            max-height: calc(100% - 30px);
        }
    }

    .collagewrap .collage-item:nth-child(1),
    .collagewrap .collage-item:nth-child(2) {
       height: 120px;
    }

    .collagewrap .collage-item:nth-child(3),
    .collagewrap .collage-item:nth-child(4) {
       height: 180px;
    }



}