.diaglisttop {
    position: relative;
    // padding: 105px 0 123px;
    padding: 105px 0 20px;

    h1 {
        font-size: 45px;
        line-height: 130%;
        color: rgb(53, 44, 43);
        margin-bottom: 42px;
        font-weight: 700;
    }

    p {
        margin: 0;
        font-size: 16px;
        line-height: 170%;
        color: #3B454D;
        max-width: 810px;
    }

    .modelbrand {
        height: 118px;
        max-width: 221px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        background: #fff;
        border: 1px solid #C9C9C9;
        width: 100%;

        img {
            max-width: calc(100% - 10px);
            max-height: calc(100% - 10px);
        }
    }
}

.breadcrumbwrapper {
    .breadcrumbs.whitepage {
        ul li {
            filter: brightness(1);

            a {
                color: rgb(147, 147, 147);

                &:hover {
                    color: #51801A;
                }
            }

            &::after {
                filter: brightness(0.5);
            }
        }
    }
}

.diaglistmain {
    background: rgb(244, 244, 244);
    padding: 40px 0 120px;

    .row {
        margin-left: -35px;
        margin-right: -35px;
    }

    .rowsch {
        margin-left: -18px;
        margin-right: -18px;

        .col-lg-6 {
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 36px;
        }
    }

    // .col-lg-8 .col-lg-6 {
    //     padding-left: 35px;
    //     padding-right: 35px;
    //     margin-bottom: 36px;
    // }

    .modelbox {
        display: block;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgb(#000, 0.06);
        text-decoration: none;
        transition: 0.3s;
        border: 1px solid #fff;

        .descrwrap img {
            transition: 0.3s;
        }

        &:hover {
            border: 1px solid #51801A;

            .descrwrap img {
                transform: translateX(5px) translateY(-50%);
            }
        }

        .imgwrap {
            height: 314px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .descrwrap {
            padding: 30px 130px 35px 35px;
            position: relative;

            .title {
                margin-bottom: 15px;
                font-size: 21px;
                font-weight: 600;
                color: rgb(20, 20, 20);
            }

            p {
                font-size: 16px;
                color: #3B454D;
                margin: 0;
            }

            img {
                position: absolute;
                right: 35px;
                top: 50%;
                transform: translateY(-50%);
                margin-top: 20px;
            }
        }


    }
}

.pagination ul li.active a {
    background: rgb(81, 128, 26);
    color: #fff;
}


.diaglistmain .modelbox {
    height: 100%;
}

.diaglistmain .modelbox .descrwrap p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modlistsidebar {
    background: #fff;
    padding: 40px 35px 35px 35px;
    box-shadow: 0 4px 24px rgba(#000, 0.06);
    border: 1px solid #D4D4D4;
    border-radius: 21px;

    &>ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &>li {
            p {
                display: flex;
                height: 60px;
                align-items: center;
                margin: 0;
                text-transform: uppercase;
                color: rgba(#171717, 0.4);
                font-weight: 600;
                line-height: 140%;
                position: relative;
                cursor: pointer;
                transition: 0.3s;
                padding-right: 30px;

                &:hover {
                    color: rgba(#171717, 0.7);
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background: url('../img/sdbarr.svg') no-repeat center / 100%;
                    position: absolute;
                    right: 0;
                    top: 19px;
                    transition: 0.5s;
                }

                &.rotate {
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }

            &>ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: none;

                &>li {
                    margin-bottom: 5px;

                    &>a {
                        padding: 14px 6px 14px 9px;
                        color: #141414;
                        border-radius: 10px;
                        background: transparent;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 130%;
                        display: block;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            background: #F4F4F4;
                        }
                    }
                }
            }
        }
    }
}

// ----------
.model-gallery {
    max-width: 468px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -85px;

    .modgall-mainimg {
        width: 100%;
        max-width: calc(100% - 85px);
        flex: 0 0 calc(100% - 85px);
        height: 255px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .modgall-sideimgs {
        width: 100%;
        max-width: 58px;
        flex: 0 0 58px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .imgwrap {
            border-radius: 6px;
            border: 1px solid #D4D4D4;
            height: 58px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }

            img {
                width: 100%;
            }
        }
    }

    .plusicon {
        width: 24px;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}

.largemodal {
    .modal-dialog {
        max-width: 1420px;
    }

    .modal-content {
        border: none;
        border-radius: 0;
    }

    .catlistpopup-wrapper {
        padding: 82px 119px 60px 119px;
    }

    .closemodal {
        background: transparent;
        display: inline-block;
        border: none;
        padding: 0;
        position: absolute;
        right: 32px;
        top: 27px;
        width: 50px;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }
}

.catlistpopup-wrapper {
    display: flex;
    flex-wrap: wrap;

    img {
        max-width: 100%;
    }
}

.catlistpopup__leftblock {
    width: 100%;
    max-width: 61%;
    flex: 0 0 61%;

    .imgwrap {
        text-align: center;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
        }
    }
}

.catlistpopup__rightblock {
    width: 100%;
    max-width: 39%;
    flex: 0 0 39%;
    padding-left: 100px;

    .title {
        color: #352C2B;
        font-size: 24px;
        font-weight: 700;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    p,
    ul {
        color: #141414;
        font-size: 13px;
    }

    li {
        margin-bottom: 15px;
        position: relative;
        padding-left: 20px;

        &::after {
            content: '';
            display: inline-block;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background: #141414;
            position: absolute;
            left: 4px;
            top: 9px;
        }


        &:last-child {
            margin-bottom: 0;
        }
    }
}

.prodpicgroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;

    .prodpicgroup__img {
        width: 65px;
        height: 65px;
        border-radius: 6px;
        border: 1px solid #D4D4D4;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        margin-right: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            border-color: #51801A;
        }

        &.active {
            border-color: rgb(107,169,36);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

.model-gallery {
    position: relative;
    z-index: 2;
}
.modgall-mainimg {
    height: 255px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.fancybox__container {
    z-index: 1060;
}

.diagcol-title {
    color: #141414;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 16px;
}



@media(max-width:1599.8px) {
    // .diaglisttop {
    //     padding-bottom: 100px;
    // }

    .diaglisttop h1 {
        font-size: 41px;
        margin-bottom: 25px;
    }
}

@media(max-width:1530.8px) {
    .largemodal .modal-dialog {
        max-width: 1120px;
    }

    .largemodal .catlistpopup-wrapper {
        padding: 80px 80px 50px 80px;
    }

    .catlistpopup__rightblock {
        padding-left: 30px;
    }

}

@media(max-width:1399.8px) {
    .diaglistmain .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .diaglistmain .col-lg-6 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .diaglistmain .modelbox .imgwrap {
        height: 260px;
    }

    .diaglistmain .modelbox .descrwrap .title {
        margin-bottom: 10px;
    }

    .diaglistmain .modelbox .descrwrap img {
        width: 40px;
    }

    .diaglistmain .modelbox .descrwrap {
        padding-right: 100px;
    }

    .diaglistmain .col-lg-6 {
        margin-bottom: 30px;
    }


}

@media(max-width:1199.8px) {
    .diaglisttop .col-xl-3.text-end {
        text-align: left !important;
    }

    .diaglisttop .modelbrand {
        margin-top: 30px;
    }

    .diaglisttop {
        padding-bottom: 60px;
    }

    .diaglistmain .modelbox .imgwrap {
        height: 230px;
    }

    .modlistsidebar {
        padding: 20px;
    }

    .modlistsidebar>ul>li p {
        height: auto;
        min-height: 50px;
    }

    .modlistsidebar>ul>li p:after {
        top: 14px;
    }

    .modlistsidebar>ul>li>ul>li>a {
        padding: 10px 8px;
    }

    .model-gallery {
        margin-top: 0;
    }

    .largemodal .modal-dialog {
        max-width: 900px;
    }

    .largemodal .catlistpopup-wrapper {
        padding: 60px 50px 30px 50px;
    }

    .catlistpopup__rightblock {
        padding-left: 30px;
    }

    .largemodal .closemodal {
        width: 35px;
        height: 35px;
        right: 20px;
        top: 20px;

        img {
            width: 100%;
        }
    }

    .catlistpopup__leftblock,
    .catlistpopup__rightblock {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .diagcol-title {
        font-size: 18px;
    }

}

@media(max-width:991.8px) {

    .diaglisttop h1 {
        font-size: 36px;
    }

    .diaglistmain>.container {
        &>.row>.col-lg-8 {
            order: 2;
        }

        &>.row>.col-lg-4 {
            order: 1;
        }
    }

    .modlistsidebar {
        margin-bottom: 30px;
    }


    .largemodal .modal-dialog {
        max-width: 700px;
    }

    .largemodal .catlistpopup-wrapper {
        padding: 60px 50px 30px 50px;
    }

    .catlistpopup__rightblock {
        padding-left: 30px;
    }

    .largemodal .closemodal {
        width: 35px;
        height: 35px;
        right: 20px;
        top: 20px;

        img {
            width: 100%;
        }
    }

    .catlistpopup__leftblock,
    .catlistpopup__rightblock {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .prodpicgroup {
        .prodpicgroup__img {
            margin-right: 10px;
            width: 55px;
            height: 55px;
        }
    }

    .diagcol-title {
        font-size: 24px;
    }

}

@media(max-width:767.8px) {

    .catlistpopup__leftblock,
    .catlistpopup__rightblock {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .catlistpopup__leftblock .imgwrap {
        height: 250px;
    }

    .prodpicgroup .prodpicgroup__img {
        width: 70px;
        height: 70px;
    }

    .catlistpopup__rightblock {
        padding-left: 0;
    }

    .largemodal .modal-dialog {
        max-width: 500px;
    }

    .catlistpopup__leftblock {
        margin-bottom: 20px;
    }

    .diagcol-title {
        font-size: 21px;
    }

}

@media(max-width:575.8px) {
    .diaglisttop h1 {
        font-size: 28px;
        margin-bottom: 15px;

        br {
            display: none;
        }
    }

    .diaglisttop .modelbrand {
        height: 80px;
        border-radius: 10px;
        max-width: 200px;
        margin-top: 15px;
    }

    .diaglisttop {
        padding-bottom: 40px;
    }

    .diaglistmain .modelbox .imgwrap {
        height: 170px;
    }

    .diaglistmain .modelbox .descrwrap {
        padding: 15px 60px 15px 15px;
        position: relative;
    }

    .diaglistmain .modelbox .descrwrap .title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .diaglistmain .modelbox .descrwrap p {
        font-size: 15px;
    }

    .diaglistmain .modelbox .descrwrap img {
        width: 30px;
        right: 20px;
        top: initial;
        bottom: 20px;
        transform: none;
    }

    .diaglistmain .col-lg-6 {
        margin-bottom: 15px;
    }

    .diaglistmain {
        padding-bottom: 60px;
    }

    .modlistsidebar {
        border-radius: 15px;
    }

    .model-gallery .modgall-mainimg {
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
    }

    .largemodal .modal-dialog {
        max-width: calc(100% - 20px);
        width: 100%;
        margin: 20px auto;
    }

    .largemodal .catlistpopup-wrapper {
        padding: 40px 20px 20px 20px;
    }

    .catlistpopup__rightblock .title {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .catlistpopup__rightblock li {
        margin-bottom: 10px;
    }

    .prodpicgroup {
        margin-top: 20px;
    }

    .prodpicgroup .prodpicgroup__img {
        margin: 0 5px 10px 5px;
        width: 65px;
        height: 65px;
    }

    .catlistpopup__leftblock .imgwrap {
        height: 200px;
    }

    .diagcol-title {
        font-size: 18px;
    }
}