.productwrapper {
    position: relative;
    padding: 105px 0 130px;
    background: #F4F4F4;
}

.product__topsect {
    background: #fff;
    margin-bottom: 100px;
    padding: 70px 0;
}

.mySwiper2 {
    margin-bottom: 24px;
}

.bigslide {
    border-radius: 11px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B2B2B2;
    width: calc(100% - 1px);

    img {
        max-width: calc(100% - 6px);
        max-height: calc(100% - 6px);
    }
}

.littslwrap {
    height: 128px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B2B2B2;
    border-radius: 11px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.5;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;

    .littslwrap {
        border: 1px solid rgb(81, 128, 26);
    }
}

.product__info {
    padding-left: 10px;
}

.prinftop {
    padding-bottom: 25px;
    border-bottom: 1px solid #D5D6D7;

    .code {
        margin-bottom: 25px;
        color: #B1B1B1;
        font-size: 17px;
        font-weight: 500;
        line-height: 129%;
    }

    .title {
        margin-bottom: 25px;
        font-size: 35px;
        font-weight: 700;
        line-height: 120%;
        color: rgb(53, 44, 43);

        span {
            font-weight: 400;
            display: block;
        }
    }

    .stock {
        display: inline-block;
        padding: 4px 16px;
        background: rgba(#35A40E, 0.1);
        border-radius: 118px;
        font-size: 16px;
        line-height: 129%;
        font-weight: 500;
        font-size: 16px;
        color: rgb(81, 128, 26);
        min-width: 120px;
        text-align: center;
        margin: 0;
    }
}

.prinfmiddle {
    padding: 25px 0;
    border-bottom: 1px solid #D5D6D7;

    p {
        font-size: 15px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.prinfbott {
    display: block;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
    border: 1px solid #B2B2B2;
    border-radius: 11px;
    padding: 30px 25px;
    position: sticky;
    top: 10px;

    .oldprice {
        text-decoration: line-through;
        font-size: 15px;
        margin: 0;

    }

    .price {
        width: 100%;
        font-size: 34px;
        line-height: 129%;
        font-weight: 700;
        font-family: "Inter Tight", sans-serif;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 30px;

        &.price__red {
            color: rgba(126, 37, 39, 1);
        }
    }

    .numcoutn {
        margin-bottom: 30px;

        p {
            font-weight: 600;
            font-size: 18px;
            color: rgba(53, 44, 43, 1);
            margin-bottom: 15px;
        }

        .number {
            display: flex;
            max-width: 100%;
            margin: 0 auto;

            .minus,
            .plus {
                width: 100%;
                max-width: 52px;
                flex: 0 0 52px;
                height: 60px;
                background: #F4F4F4;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    filter: brightness(0.9);
                }

            }

            .plus {
                border-radius: 0 14px 14px 0;
            }

            .minus {
                border-radius: 14px 0 0 14px;

            }

            input {
                width: 100%;
                max-width: calc(100% - 104px);
                flex: 0 0 calc(100% - 104px);
                border: none;
                background: #F4F4F4;
                text-align: center;
                font-size: 21px;
                color: rgb(53, 44, 43);
                font-weight: 500;
                pointer-events: none;
            }
        }
    }

    .addtocard {
        width: 100%;
        max-width: 100%;
        border-radius: 118px;
        background: rgb(81, 128, 26);
        display: flex;
        align-items: center;
        height: 59px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: 5px 56px 5px 36px;
        border: none;
        transition: 0.3s;
        position: relative;

        &:hover {
            background: rgb(107, 169, 36);
        }

        img {
            position: absolute;
            right: 28px;
        }
    }

    .deliverytext {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 36px;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 500;
        color: rgb(53, 44, 43);
        position: relative;
        padding-left: 50px;

        img {
            position: absolute;
            left: 0;
            top: -8px;
        }
    }

}

.prodmodels {
    padding: 0 100px;
}

.prodmodels__top {
    margin-bottom: 60px;

    p {
        font-size: 35px;
        font-weight: 700;
        color: rgb(53, 44, 43);
        line-height: 130%;
    }

    .filtersearch input {
        background: #fff;
        border: 1px solid #D9DBDF;
        height: 55px;

        &:focus {
            border: 1px solid #51801A;
        }
    }
}

.prodmodels__content {
    .diaglistmain .modelbox .imgwrap {
        height: 251px;
    }

    .diaglistmain .modelbox .descrwrap {
        padding: 20px 20px 35px 20px;
    }

    .diaglistmain .modelbox .descrwrap img {
        width: 46px;
        height: 46px;
    }

    .col-xl-4 {
        margin-bottom: 27px;
    }

    .diaglistmain {
        padding-bottom: 0;
    }
}

.prodmodels__top p {
    margin: 0;
}

.prodmodels__content .diaglistmain .modelbox .descrwrap {
    padding-right: 70px;

    img {
        right: 25px;
    }
}

.prodmodels__content .diaglistmain {
    .row {
        margin-left: -12px;
        margin-right: -12px;

        .col-lg-6 {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.prinftop.mob {
    display: none;
}

.bigslide img {
    border-radius: 10px;
}

.swiper.mySwiper2 {
    overflow: visible;
}

.mooZoom-big-detail {
    background: #fff;
}

.slthwrapper {
    position: relative;
}

.product__slider {
    position: sticky;
    top: 10px;

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        background: url('../img/slr.svg') no-repeat center / 100%;
        right: -15px;
    }

    .swiper-button-prev {
        background: url('../img/sll.svg') no-repeat center / 100%;
        left: -15px;
    }

}

.productradio {
    padding: 20px 0;

    .title {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;

        span {
            color: #e4434b;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        label {
            cursor: pointer;
        }

        li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            input {
                accent-color: #51801a;
            }
        }
    }
}

.littslwrap {
    width: 100%;
}

.bigslide {
    background: #fff;
}



@media(max-width:1599.8px) {

    .prodmodels__top {
        margin-bottom: 20px;
    }

    .prinfbott .price {
        font-size: 31px;
    }

    .prodmodels {
        padding: 0 60px;
    }

}

@media(max-width:1440.8px) {
    .prodmodels__content .diaglistmain {
        padding-top: 0;
    }

    .prodmodels__top {
        margin-bottom: 30px;
    }

    .prodmodels__top p {
        font-size: 32px;
    }

    .bigslide {
        height: 500px;
    }
}

@media(max-width:1399.8px) {

    .product__topsect .product__info {
        padding-left: 0;
    }

    .prinftop .code {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .prinftop .title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .prinftop .stock {
        font-size: 15px;
    }

    .prinfbott .price {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .prinfbott .numcoutn p {
        margin-bottom: 10px;
    }

    .prinfbott .deliverytext {
        margin-top: 25px;
    }

    .prinfbott {
        padding: 20px 15px;
    }

    .bigslide {
        height: 440px;
    }

    .littslwrap {
        height: 100px;
    }

    .prodmodels__content .diaglistmain .modelbox .imgwrap {
        height: 200px;
    }

    .prodmodels__content .diaglistmain .modelbox .descrwrap {
        padding-right: 60px;

        img {
            right: 15px;
        }
    }

}

@media(max-width:1199.8px) {

    .prodmodels__top p {
        margin-bottom: 10px;
    }

    .prinfbott .addtocard {
        padding-left: 15px;
        padding-right: 45px;
    }

    .prinfbott .addtocard img {
        right: 20px;
    }

}

@media(max-width:991.8px) {

    .product__topsect .product__slider,
    .product__topsect .product__info {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .product__topsect .product__info {
        padding-left: 0;
        padding-top: 30px;
    }

    .prinftop {
        display: none;
        border-bottom: none;
    }

    .prinftop.mob {
        display: block;
    }

    .product__topsect {
        padding: 30px 40px;
    }

    .prinfmiddle {
        padding-top: 0;
    }

    .prodmodels {
        padding: 0 40px;
    }

    .product__topsect {
        margin-bottom: 50px;
    }

    .productwrapper {
        padding-bottom: 80px;
    }

    .prinfbott {
        max-width: 500px;
    }

}

@media(max-width:575.8px) {
    .product__topsect {
        padding: 20px;
        border-radius: 10px;
    }

    .prinftop .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .prinftop .code {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .prinftop .stock {
        font-size: 14px;
    }

    .prinftop {
        padding-bottom: 15px;
    }

    .bigslide {
        height: 300px;
    }

    .prodmodels {
        padding: 0;
    }

    .prodmodels__top p {
        font-size: 24px;
    }

    .prodmodels__top .filtersearch input {
        height: 42px;
    }

    .product__topsect {
        padding: 20px 0;
    }

    .product__slider .swiper-button-next {
        right: -10px;
    }

    .product__slider .swiper-button-prev {
        left: -10px;
    }


}